@* @page "/document-matchings"
@attribute [Authorize(Policy = Permissions.DocumentMatchings.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<DocumentMatchings> _localizer
@using CleanArchitecture.Application.Features.DocumentMatchings.Queries.GetAll

<style>
    .mud-table-container {
        overflow: scroll;
    }
</style>

<HeroTitle Title="@_localizer["Document Matchings"]" Description="@_localizer["Manage Document Matchings."]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Elevation="25" FixedHeader="true" FixedFooter="true" ServerData="@(new Func<TableState, Task<TableData<GetAllDocumentMatchingsResponse>>>(ServerReload))" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="_table">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
            </div>
            <MudSpacer />
             @if (_canSearchDocumentMatchings)
            {
                <MudTextField T="string" DebounceInterval="1000" ValueChanged="@(s=>OnSearch(s))" Placeholder="@_localizer["Search for Document Matchings"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel T="GetAllDocumentMatchingsResponse" SortLabel="Id">@_localizer["Id"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllDocumentMatchingsResponse" SortLabel="ExternalId">@_localizer["External Id"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllDocumentMatchingsResponse" SortLabel="CentralizedDocumentId">@_localizer["Centralized Document Id"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllDocumentMatchingsResponse" SortLabel="CentralizedDocument">@_localizer["Centralized Document"]</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=@_localizer["Id"]>@context.Id</MudTd>
            <MudTd DataLabel=@_localizer["External Id"]>@context.ExternalId</MudTd>
            <MudTd DataLabel=@_localizer["Centralized Document Id"]>@context.CentralizedDocumentId</MudTd>
            <MudTd DataLabel=@_localizer["Centralized Document"]>
                <MudHighlighter Text="@context.CentralizedDocument" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel=@_localizer["Actions"] Style="text-align: right">
                @if (_canDeleteDocumentMatchings)
                {
                    <MudMenu Label="@_localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary">
                        <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                    </MudMenu>
                }
                else
                {
                    <MudButton Variant="Variant.Filled"
                               DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch"
                               IconColor="Color.Secondary"
                               Size="Size.Small"
                               Color="Color.Surface">
                        @_localizer["No Allowed Actions"]
                    </MudButton>
                }
            </MudTd>
        </RowTemplate>
        <FooterContent>
            <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
            <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
            <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
} *@